interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/?near=4.90774612505295,52.3626770908732&radius=10.0&srid=4326&timestamp_before=2020-01-01&timestamp_after=2018-01-01&limit_results=100
  response:
    content: '{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/?near=4.90774612505295,52.3626770908732&radius=10.0&srid=4326&timestamp_before=2020-01-01&timestamp_after=2018-01-01&limit_results=100"},"next":{"href":null},"previous":{"href":null}},"count":21,"_embedded":{"panoramas":[{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/TMX7316010203-000998_pano_0004_001708/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/21/TMX7316010203-000998/pano_0004_001708/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/21/TMX7316010203-000998/pano_0004_001708/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/21/TMX7316010203-000998/pano_0004_001708/equirectangular/panorama_2000.jpg"},"cubic_img_preview":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/21/TMX7316010203-000998/pano_0004_001708/cubic/preview.jpg"},"thumbnail":{"href":"https://api.data.amsterdam.nl/panorama/thumbnail/TMX7316010203-000998_pano_0004_001708/"},"adjacencies":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/TMX7316010203-000998_pano_0004_001708/adjacencies/"}},"cubic_img_baseurl":"https://panorama.data.amsterdam.nl/panorama/2018/11/21/TMX7316010203-000998/pano_0004_001708/cubic/","cubic_img_pattern":"https://panorama.data.amsterdam.nl/panorama/2018/11/21/TMX7316010203-000998/pano_0004_001708/cubic/{z}/{f}/{y}/{x}.jpg","geometry":{"type":"Point","coordinates":[4.90774612505295,52.3626770908732,45.4414010317996]},"pano_id":"TMX7316010203-000998_pano_0004_001708","timestamp":"2018-11-21T12:09:34.063330Z","filename":"pano_0004_001708.jpg","surface_type":"L","mission_distance":5,"mission_type":"bi","mission_year":"2018","tags":["mission-bi","mission-2018","surface-land","mission-distance-5"],"roll":0.648727402942561,"pitch":-1.82615080820902,"heading":69.1967963169798},{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/TMX7316010203-001181_pano_0000_002725/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2019/05/14/TMX7316010203-001181/pano_0000_002725/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2019/05/14/TMX7316010203-001181/pano_0000_002725/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://[...]
