interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/
  response:
    content: '{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_2000.jpg"},"cubic_img_preview":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/preview.jpg"},"thumbnail":{"href":"https://api.data.amsterdam.nl/panorama/thumbnail/DPX2018000001-000001_pano_0000_000001/"},"adjacencies":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/adjacencies/"}},"cubic_img_baseurl":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/","cubic_img_pattern":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/{z}/{f}/{y}/{x}.jpg","geometry":{"type":"Point","coordinates":[4.90765,52.36272,43.5107887201011]},"pano_id":"DPX2018000001-000001_pano_0000_000001","timestamp":"2018-11-01T14:21:52Z","filename":"pano_0000_000001.jpg","surface_type":"L","mission_distance":5,"mission_type":"dp","mission_year":"2018","tags":["mission-dp","mission-2018","surface-land","mission-distance-5"],"roll":0.0,"pitch":0.0,"heading":60.0}'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/hal+json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_4000.jpg
  response:
    content: "\0\x10JFIF\0\x01\x01\0\0\x01\0\x01\0\0\0C\0\b\x06\x06\a\x06\x05\b\a\a\a\t\t\b\n\f\x14\r\f\v\v\f\x19\x12\x13\x0F\x14\x1D\x1A\x1F\x1E\x1D\x1A\x1C\x1C
      $.' \",#\x1C\x1C(7),01444\x1F'9=82<.342\0C\x01\t\t\t\f\v\f\x18\r\r\x182!\x1C!22222222222222222222222222222222222222222222222222\0\x[...]
