interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/?near=4.90769952140867,52.3626755978307&radius=0.5&srid=4326
  response:
    content: '{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/?near=4.90769952140867,52.3626755978307&radius=0.5&srid=4326"},"next":{"href":null},"previous":{"href":null}},"count":1,"_embedded":{"panoramas":[{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/TMX7316010203-001051_pano_0000_000210/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2019/01/14/TMX7316010203-001051/pano_0000_000210/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2019/01/14/TMX7316010203-001051/pano_0000_000210/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://panorama.data.amsterdam.nl/panorama/2019/01/14/TMX7316010203-001051/pano_0000_000210/equirectangular/panorama_2000.jpg"},"cubic_img_preview":{"href":"https://panorama.data.amsterdam.nl/panorama/2019/01/14/TMX7316010203-001051/pano_0000_000210/cubic/preview.jpg"},"thumbnail":{"href":"https://api.data.amsterdam.nl/panorama/thumbnail/TMX7316010203-001051_pano_0000_000210/"},"adjacencies":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/TMX7316010203-001051_pano_0000_000210/adjacencies/"}},"cubic_img_baseurl":"https://panorama.data.amsterdam.nl/panorama/2019/01/14/TMX7316010203-001051/pano_0000_000210/cubic/","cubic_img_pattern":"https://panorama.data.amsterdam.nl/panorama/2019/01/14/TMX7316010203-001051/pano_0000_000210/cubic/{z}/{f}/{y}/{x}.jpg","geometry":{"type":"Point","coordinates":[4.90769952140867,52.3626755978307,46.192072160542]},"pano_id":"TMX7316010203-001051_pano_0000_000210","timestamp":"2019-01-14T07:58:00.624730Z","filename":"pano_0000_000210.jpg","surface_type":"L","mission_distance":5,"mission_type":"woz","mission_year":"2018","tags":["mission-woz","mission-2018","surface-land","mission-distance-5"],"roll":0.0513836238665132,"pitch":-2.20367714862027,"heading":69.7265012830816}]}}'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/hal+json
    status_code: 200
version: 1
