interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/
  response:
    content: '{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/"},"next":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/?page=2"},"previous":{"href":null}},"count":5537208,"_embedded":{"panoramas":[{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_2000.jpg"},"cubic_img_preview":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/preview.jpg"},"thumbnail":{"href":"https://api.data.amsterdam.nl/panorama/thumbnail/DPX2018000001-000001_pano_0000_000001/"},"adjacencies":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/adjacencies/"}},"cubic_img_baseurl":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/","cubic_img_pattern":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/{z}/{f}/{y}/{x}.jpg","geometry":{"type":"Point","coordinates":[4.90765,52.36272,43.5107887201011]},"pano_id":"DPX2018000001-000001_pano_0000_000001","timestamp":"2018-11-01T14:21:52Z","filename":"pano_0000_000001.jpg","surface_type":"L","mission_distance":5,"mission_type":"dp","mission_year":"2018","tags":["mission-dp","mission-2018","surface-land","mission-distance-5"],"roll":0.0,"pitch":0.0,"heading":60.0},{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/TMX7315080123-000281_pano_0000_000000/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2016/06/13/TMX7315080123-000281/pano_0000_000000/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2016/06/13/TMX7315080123-000281/pano_0000_000000/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://panorama.dat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/?page=2
  response:
    content: '{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/?page=2"},"next":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/?page=3"},"previous":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/?page=1"}},"count":5537208,"_embedded":{"panoramas":[{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panora[...]
[...]
