interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001
  response:
    content: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - /panorama/panoramas/DPX2018000001-000001_pano_0000_000001/
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/
  response:
    content: '{"_links":{"self":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/"},"equirectangular_full":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_8000.jpg"},"equirectangular_medium":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_4000.jpg"},"equirectangular_small":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/equirectangular/panorama_2000.jpg"},"cubic_img_preview":{"href":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/preview.jpg"},"thumbnail":{"href":"https://api.data.amsterdam.nl/panorama/thumbnail/DPX2018000001-000001_pano_0000_000001/"},"adjacencies":{"href":"https://api.data.amsterdam.nl/panorama/panoramas/DPX2018000001-000001_pano_0000_000001/adjacencies/"}},"cubic_img_baseurl":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/","cubic_img_pattern":"https://panorama.data.amsterdam.nl/panorama/2018/11/01/DPX2018000001-000001/pano_0000_000001/cubic/{z}/{f}/{y}/{x}.jpg","geometry":{"type":"Point","coordinates":[4.90765,52.36272,43.5107887201011]},"pano_id":"DPX2018000001-000001_pano_0000_000001","timestamp":"2018-11-01T14:21:52Z","filename":"pano_0000_000001.jpg","surface_type":"L","mission_distance":5,"mission_type":"dp","mission_year":"2018","tags":["mission-dp","mission-2018","surface-land","mission-distance-5"],"roll":0.0,"pitch":0.0,"heading":60.0}'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/hal+json
    status_code: 200
version: 1
